// // Colors
// $pink: #cc4bc2;
// $purple: #aa1af2;
// $blue: #cc307c;
// $white: #ffffff;
// $lightpink: #c9b4da;
// $orange: #d7a943;

// Colors
$blue: #1C3FAA;
$text-color: #2E3849;
$background: #F1F5F8;
$white: #ffffff;
$green: #91C715;
$orange: #FBC501;

$margin-size-1: .4rem;
$margin-size-2: .8rem;
$margin-size-3: 1.4rem;
$margin-size-4: 2.4rem;
$margin-size-5: 4rem;

$media-break-sm: 576px;
$media-break-md: 798px;
$media-break-lg: 992px;
$media-break-xl: 1200px;

$text-size-smallest: .6rem;
$text-size-smaller: .7rem;
$text-size-small: .8rem;
$text-size-medium: 1rem;
$text-size-bigish: 1.2rem;
$text-size-big: 1.6rem;
$text-size-bigger: 2.4rem;
$text-size-biggest: 4rem;

$header-size: 60px;